<!doctype html>
<head>
    {% block head_js%}
        <script src="/static/js/main.js"></script>
    {% endblock %}
</head>

<title>{% block title %}{% endblock %} - Sonoser</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <h1>Sonoser</h1>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>